
@{
    ViewBag.Title = "WebAdminPage";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>WebAdminPage</h2>

<div class="row inline text-white" style="background-color:#000000">
    <h6>Thống kê dự án</h6>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div class="col-md-6">
            Chart 1
        </div>
        <div class="col-md-6">
            Chart 2
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="row inline text-white" style="background-color:#808080">
    <h6>Thống kê nhân sự</h6>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div class="col-md-6">
            Chart 1
        </div>
        <div class="col-md-6">
            Chart 2
        </div>
    </div>
</div>